:root {
    --accent-color: #F49100;
    --silver-color: #AFAFAF;
}

.navbar {
    border-radius: 0;
}

.playerbar {
    position:fixed;
    bottom:0;
    margin:0;
    width:100%;
}

.glyphicon.button {
    font-size: 2em;
    padding:5px
}

.glyphicon.accent-background {
    background: var(--accent-color);
    color: #fff;
    padding:10px
}

.glyphicon.accent-border {
    border: 5px solid var(--accent-color);
    color: var(--accent-color);
}

.song-title {
    font-size: 110%;
}
.song-author {
    font-size: 90%;
}

.song-cover {
    width: 100%;
    height: auto;
    border: 5px solid var(--silver-color);
}

.song-cover.active {
    border: 5px solid var(--accent-color);
}

.playlist .song-cover {
    margin: 0 0 30px 0;
}